[submodule "backend-md"]
	path = backend-md
	url = https://github.com/Nojorono/backend-md.git
	branch = main
[submodule "backend-ryo"]
	path = backend-ryo
	url = https://github.com/Nojorono/voucher_be.git
	branch = main
[submodule "service-meta"]
	path = service-meta
	url = https://github.com/Nojorono/meta-service.git
	branch = master
[submodule "backend-wms"]
	path = backend-wms
	url = https://github.com/Nojorono/backend-wms-cwh.git
	branch = main
